<div class="container-fluid main">
    <div class="home row d-flex">
        <div class="col-lg-7 content row justify-content-center">
            <div class="col-10 py-5">
                <h1 class="my-5" style=" color: #4d4d4d;">Lessons and insights</h1>
                <h1 class="my-5" style="color: #4caf4f;">from 8 years</h1>
                <p class="my-3">Where to grow your business as a photographer: site or social media?</p>
                <button class="btn">Register</button>
            </div>
        </div>
        <div class="col-lg-3 py-5">
            <img width="400px" src="../../../assets/images/home.png" alt="">
        </div>
    </div>
</div>
<app-our-clients></app-our-clients>
<app-business-reinvent></app-business-reinvent>
<app-markiting></app-markiting>