footer {
    background-color: #263238 !important;
    color: #fff !important;
}

a {
    text-decoration: none;
}

input {
    background-color: #515b60;
    border: none;
}

.logo {
    img {
        width: 17%;
        margin: -4px 7px;
    }
}