<div class="container py-5">
    <div class="header">
        <h1>Our Clients</h1>
        <h3>We have been working with some Fortune 500+ clients</h3>
        <img width="90%" src="../../../../assets/images/our-clients.png" alt="">
    </div>
    <div class="content mt-5">
        <div class="content-header">
            <h1>Manage your entire community</h1>
            <h1>in a single system </h1>
            <h3>Who is Nextcent suitable for?</h3>
        </div>
        <div class="py-3 content-clients d-flex row justify-content-around">
            <div class="sec1 col-md-3">
                <img width="33%" src="../../../../assets/images/client1.png" alt="">
                <h1>
                    Membership <br>Organisations
                </h1>
                <p>
                    Our membership management software provides full automation of membership renewals and payments
                </p>
            </div>
            <div class="sec2 col-md-3">
                <img width="33%" src="../../../../assets/images/client2.png" alt="">
                <h1>
                    National <br> Associations
                </h1>
                <p>
                    Our membership management software provides full automation of membership renewals and payments </p>
            </div>
            <div class="sec3 col-md-3">
                <img width="33%" src="../../../../assets/images/client3.png" alt="">
                <h1>
                    Clubs And <br>Groups
                </h1>
                <p>
                    Our membership management software provides full automation of membership renewals and payments </p>
            </div>
        </div>
    </div>
    <div class="last-sec row d-flex mt-5 py-5 justify-content-around">
        <div class=" col-md-5">
            <img width="100%" src="../../../../assets/images/last-sec.png" alt="">
        </div>
        <div class="col-md-7">
            <h1>
                The unseen of spending three <br> years at Pixelgrade
            </h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet justo ipsum. Sed accumsan quam
                vitae est varius fringilla. Pellentesque placerat vestibulum lorem sed porta. Nullam mattis tristique
                iaculis. Nullam pulvinar sit amet risus pretium auctor. Etiam quis massa pulvinar, aliquam quam vitae,
                tempus sem. Donec elementum pulvinar odio.
            </p>
            <button class="btn">Learn More</button>
        </div>
    </div>
</div>