<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-around">
    <div class="container-fluid">
        <a class="navbar-brand logo d-flex">
            <span>
                <div style="margin: -10px;" class="d-flex">
                    <span style="    margin: -4.5px -1px;">
                        <i style="color: #4caf4f;margin: -1.1px;" class="fa fa-caret-down" aria-hidden="true"></i>
                        <i style="color: #4caf4f;margin-left: -5px;" class="fa fa-caret-up" aria-hidden="true"></i>
                    </span>
                    <span>
                        <i style="font-size: 25px;margin: -2px;" class="bi bi-caret-up"></i>
                    </span>
                </div>
                <div class="d-flex" style="margin: -14px -7.1px;">
                    <span style="margin: 4px .5px">
                        <i style="font-size: 25px;" class="bi bi-caret-down"></i>
                    </span>
                    <span style="margin: 0 -3px;">
                        <i style="color: #4caf4f;margin: -7px;" class="fa fa-caret-up" aria-hidden="true"></i>
                        <i style="color: #4caf4f;margin: -1 px;" class="fa fa-caret-down" aria-hidden="true"></i>
                    </span>

                </div>

            </span>
            <span style="margin-left: 1rem;">Nexcent</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 none">
            </ul>
            <span class="d-flex">
                <ul class="nav-menu navbar-nav me-auto mb-2 mb-lg-0 pe-5">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Community</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                </ul>
                <button class="btn" style="background-color: #4caf4f; color: white;">Register Now <i
                        class="pi pi-arrow-right" style="font-size: .7rem"></i>
                </button>
            </span>
        </div>
    </div>
</nav>